.content {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $primary-color;
    
    > * { // apply to all children elements of .content
      padding-left: 30px;
    }

    p { // p elements within .content
      width: 55%;
      min-width: 550px;
    }

    img, video {
      height: 350px;
      width: 550px;
      margin-bottom: 30px;
    }

    //Increase text size and space them out more with line-height. 
    p, ul {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    ul {
        list-style: square;
        list-style-position: inside;
    }

    a {
        color: $secondary-color;
    }
  }